/******************************************************************
Site Name: 
Author: 

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/*
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't 
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
*/
/* import mixins */
/******************************************************************
Site Name:
Author:

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of Sass' great features:
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques like box shadow and
border-radius.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and 
remember less is more.

******************************************************************/
/*********************
CLEARFIXIN'
*********************/
/* line 24, ../scss/_mixins.scss */
.clearfix {
  zoom: 1;
}
/* line 26, ../scss/_mixins.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 27, ../scss/_mixins.scss */
.clearfix:after {
  clear: both;
}

/*********************
TOOLS
*********************/
/* line 35, ../scss/_mixins.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 42, ../scss/_mixins.scss */
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/*********************
TYPOGRAPHY
*********************/
/* 	To embed your own fonts, use this syntax
	and place your fonts inside the
	library/fonts folder. For more information
	on embedding fonts, go to:
	http://www.fontsquirrel.com/
	Be sure to remove the comment brackets.
*/
/*	@font-face {
    	font-family: 'Font Name';
    	src: url('library/fonts/font-name.eot');
    	src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
    	font-weight: normal;
    	font-style: normal;
	}
*/
/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/

span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic;
}*/
/* line 132, ../scss/_mixins.scss */
.text-left {
  text-align: left;
}

/* line 133, ../scss/_mixins.scss */
.text-center {
  text-align: center;
}

/* line 134, ../scss/_mixins.scss */
.text-right {
  text-align: right;
}

/* %alert {
	margin: 10px;
	padding: 5px 18px;
	border: 1px solid;
}

.alert-help {
	@extend %alert;
	border-color: darken($alert-yellow, 5%);
	background: $alert-yellow;
}

.alert-info {
	@extend %alert;
	border-color: darken($alert-blue, 5%);
	background: $alert-blue;
}

.alert-error {
	@extend %alert;
	border-color: darken($alert-red, 5%);
	background: $alert-red;
}

.alert-success {
	@extend %alert;
	border-color: darken($alert-green, 5%);
	background: $alert-green;
}*/
/*********************
BORDER RADIUS
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include border-radius(4px 4px 0 0);
*/
/*********************
TRANISTION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
BOX SHADOWS
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include box-shadow(inset 0 0 4px rgba(0,0,0,0.22));
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdue it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/*********************
BUTTONS
*********************/
/* line 271, ../scss/_mixins.scss */
.button, .button:visited {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid #353535;
  border-top-color: #444444;
  border-left-color: #444444;
  padding: 4px 12px;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: 21px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  -border-radius: 4px;
  border-radius: 4px;
  background-color: #494949;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#565656), to(#494949));
  background-image: -webkit-linear-gradient(top, #565656, #494949);
  background-image: -moz-linear-gradient(top, #565656, #494949);
  background-image: -o-linear-gradient(top, #565656, #494949);
  background-image: linear-gradient(to bottom, #565656, #494949);
}
/* line 290, ../scss/_mixins.scss */
.button:hover, .button:focus, .button:visited:hover, .button:visited:focus {
  color: white;
  border: 1px solid #353535;
  border-top-color: #232323;
  border-left-color: #232323;
  background-color: #3d3d3d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#494949), to(#3d3d3d));
  background-image: -webkit-linear-gradient(top, #494949, #3d3d3d);
  background-image: -moz-linear-gradient(top, #494949, #3d3d3d);
  background-image: -o-linear-gradient(top, #494949, #3d3d3d);
  background-image: linear-gradient(to bottom, #494949, #3d3d3d);
}
/* line 298, ../scss/_mixins.scss */
.button:active, .button:visited:active {
  background-color: #565656;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#494949), to(#565656));
  background-image: -webkit-linear-gradient(top, #494949, #565656);
  background-image: -moz-linear-gradient(top, #494949, #565656);
  background-image: -o-linear-gradient(top, #494949, #565656);
  background-image: linear-gradient(to bottom, #494949, #565656);
}

/* line 303, ../scss/_mixins.scss */
.blue-button, .blue-button:visited {
  border-color: #1472ad;
  text-shadow: 0 1px 1px #1472ad;
  background-color: #1681c4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1990db), to(#1681c4));
  background-image: -webkit-linear-gradient(top, #1990db, #1681c4);
  background-image: -moz-linear-gradient(top, #1990db, #1681c4);
  background-image: -o-linear-gradient(top, #1990db, #1681c4);
  background-image: linear-gradient(to bottom, #1990db, #1681c4);
  -webkit-box-shadow: inset 0 0 3px #59b3ec;
  -moz-box-shadow: inset 0 0 3px #59b3ec;
  -ms-box-shadow: inset 0 0 3px #59b3ec;
  -o-box-shadow: inset 0 0 3px #59b3ec;
  -box-shadow: inset 0 0 3px #59b3ec;
  box-shadow: inset 0 0 3px #59b3ec;
}
/* line 309, ../scss/_mixins.scss */
.blue-button:hover, .blue-button:focus, .blue-button:visited:hover, .blue-button:visited:focus {
  border-color: #116396;
  background-color: #1472ad;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1784c9), to(#1472ad));
  background-image: -webkit-linear-gradient(top, #1784c9, #1472ad);
  background-image: -moz-linear-gradient(top, #1784c9, #1472ad);
  background-image: -o-linear-gradient(top, #1784c9, #1472ad);
  background-image: linear-gradient(to bottom, #1784c9, #1472ad);
}
/* line 313, ../scss/_mixins.scss */
.blue-button:active, .blue-button:visited:active {
  background-color: #1990db;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1681c4), to(#1990db));
  background-image: -webkit-linear-gradient(top, #1681c4, #1990db);
  background-image: -moz-linear-gradient(top, #1681c4, #1990db);
  background-image: -o-linear-gradient(top, #1681c4, #1990db);
  background-image: linear-gradient(to bottom, #1681c4, #1990db);
}

/******************************************************************
Site Name: 
Author: 

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to 
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection. 

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/
/* line 18, ../scss/_481up.scss */
h3.sub-header {
  text-align: center;
  width: 100%;
}

/* line 19, ../scss/_481up.scss */
h3.work-title {
  font-size: 140%;
}

/*********************
NAVIGATION STYLES
*********************/
/* .menu is clearfixed inside mixins.scss */
/* line 27, ../scss/_481up.scss */
.menu {
  /* end .menu ul */
}
/* line 28, ../scss/_481up.scss */
.menu ul {
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */
}
/* line 29, ../scss/_481up.scss */
.menu ul li {
  /*
  plan your menus and drop-downs wisely.
  */
}
/* line 30, ../scss/_481up.scss */
.menu ul li a {
  /*
  you can use hover styles here even though this size
  has the possibility of being a mobile device.
  */
}

/* end .menu */
/*********************
POSTS & CONTENT STYLES
*********************/
/* line 75, ../scss/_481up.scss */
.archive-title {
  margin-left: 0;
}

/* line 76, ../scss/_481up.scss */
.blog-special {
  margin-left: 12%;
}

/* line 77, ../scss/_481up.scss */
.single-title {
  margin-left: 5%;
}

/* line 80, ../scss/_481up.scss */
.single-header p.byline {
  margin-left: 5%;
}

/* entry content */
/* line 85, ../scss/_481up.scss */
.entry-content {
  /* at this larger size, we can start to align images */
}
/* line 86, ../scss/_481up.scss */
.entry-content .post-text {
  width: 80%;
  margin-left: 5%;
  margin-bottom: 3em;
}
/* line 89, ../scss/_481up.scss */
.entry-content .alignleft, .entry-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}
/* line 94, ../scss/_481up.scss */
.entry-content .alignright, .entry-content img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}
/* line 99, ../scss/_481up.scss */
.entry-content .aligncenter, .entry-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}

/* end .entry-content */
/* line 109, ../scss/_481up.scss */
#content .mywork {
  width: 48%;
  clear: none;
  margin: 0 2% 2em 0;
}
/* line 111, ../scss/_481up.scss */
#content .mywork .work-header {
  padding-left: 5%;
  margin: 0.9em 0 0 0;
}
/* line 112, ../scss/_481up.scss */
#content .mywork .work-content {
  padding-left: 5%;
}
/* line 117, ../scss/_481up.scss */
#content .cat-article {
  width: 83%;
  margin-left: 12%;
}
/* line 122, ../scss/_481up.scss */
#content .traverse-nav {
  text-align: center;
  width: 100%;
}

/*********************
FOOTER STYLES
*********************/
/*
check your menus here. do they look good?
do they need tweaking?
*/
/* end .footer-links */
/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/*********************
GENERAL STYLES
*********************/
/*********************
LAYOUT & GRID STYLES
*********************/
/* line 26, ../scss/_768up.scss */
.wrap {
  max-width: 1140px;
}

/*********************
HEADER SYTLES
*********************/
/*********************
NAVIGATION STYLES
*********************/
/* line 43, ../scss/_768up.scss */
.mob-nav {
  margin-right: 2%;
}

/* line 44, ../scss/_768up.scss */
.nav {
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */
}
/* line 48, ../scss/_768up.scss */
.nav li {
  float: left;
  position: relative;
  /*
  plan your menus and drop-downs wisely.
  */
  /* showing sub-menus */
}
/* line 52, ../scss/_768up.scss */
.nav li a {
  border-bottom: 0;
  /*
  you can use hover styles here even though this size
  has the possibility of being a mobile device.
  */
}
/* line 72, ../scss/_768up.scss */
.nav li ul.sub-menu,
.nav li ul.children {
  width: 200px;
  position: absolute;
  display: none;
  z-index: 8999;
  /* highlight sub-menu current page */
}
/* line 80, ../scss/_768up.scss */
.nav li ul.sub-menu li,
.nav li ul.children li {
  /*
  if you need to go deeper, go nuts
  just remember deeper menus suck
  for usability. k, bai.
  */
}
/* line 82, ../scss/_768up.scss */
.nav li ul.sub-menu li a,
.nav li ul.children li a {
  padding-left: 10px;
  display: block;
  width: 180px;
}
/* line 121, ../scss/_768up.scss */
.nav li:hover ul {
  top: auto;
  display: block;
}

/* end .nav */
/* line 138, ../scss/_768up.scss */
.in-wrap {
  margin: 0 auto;
  width: 94%;
}

/*********************
CONTENT STYLES
*********************/
/* line 146, ../scss/_768up.scss */
.archive-title {
  margin-left: 0;
}

/* line 147, ../scss/_768up.scss */
.blog-special {
  margin-left: 12%;
}

/* line 148, ../scss/_768up.scss */
.single-title {
  margin-left: 12%;
  width: 78%;
}

/* line 151, ../scss/_768up.scss */
.entry-content .post-text {
  width: 70%;
  margin-left: 12%;
}

/* line 155, ../scss/_768up.scss */
.single-header {
  margin-top: 3em;
}
/* line 157, ../scss/_768up.scss */
.single-header p.byline {
  margin-left: 12%;
}

/* line 161, ../scss/_768up.scss */
.big-gal {
  width: 100%;
}
/* line 162, ../scss/_768up.scss */
.big-gal li {
  text-align: center;
}

/* line 166, ../scss/_768up.scss */
#content {
  width: 104%;
  clear: both;
  float: left;
}
/* line 168, ../scss/_768up.scss */
#content .work-header {
  margin: 0 auto;
  padding-right: 2%;
}
/* line 170, ../scss/_768up.scss */
#content .mywork {
  margin: 0 2% 2em 0;
}
/* line 171, ../scss/_768up.scss */
#content .mywork .work-header {
  width: 100%;
  margin: 0.9em 0 0 0;
  padding-right: 0%;
  text-align: left;
}
/* line 175, ../scss/_768up.scss */
#content .mybio {
  text-align: center;
}
/* line 177, ../scss/_768up.scss */
#content .mybio p {
  max-width: 20em;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 0.6em;
}
/* line 180, ../scss/_768up.scss */
#content .blog-article {
  border-bottom: 1px solid #c4c4c4;
  margin-bottom: 2em;
}
/* line 181, ../scss/_768up.scss */
#content .cat-article {
  width: 68%;
  margin-left: 12%;
}

/*********************
FOOTER STYLES
*********************/
/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
/* line 197, ../scss/_768up.scss */
.footer-links ul li {
  /*
  be careful with the depth of your menus.
  it's very rare to have multi-depth menus in
  the footer.
  */
}

/* end .footer-links */
/******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/
/* line 12, ../scss/_1030up.scss */
.header {
  width: 100%;
  height: 6em;
  background-color: #f5f7d6;
}

/* line 14, ../scss/_1030up.scss */
#logo {
  font-weight: 600;
  margin-top: 1.9em;
  clear: left;
  width: 30%;
  float: left;
}
/* line 16, ../scss/_1030up.scss */
#logo a {
  text-decoration: none;
  color: black;
}
/* line 17, ../scss/_1030up.scss */
#logo a:hover {
  text-decoration: underline;
}

/* line 20, ../scss/_1030up.scss */
h3.sub-header {
  font-size: 1.4em;
  font-weight: 600;
  text-transform: uppercase;
  color: #acacac;
  margin-left: -2%;
  margin-bottom: 2em;
}

/* line 22, ../scss/_1030up.scss */
.my-nav {
  clear: right;
  float: right;
}

/* line 23, ../scss/_1030up.scss */
.mob-nav {
  display: none;
  visibility: hidden;
}

/* line 24, ../scss/_1030up.scss */
.top-nav {
  display: inline-block;
  width: auto;
  background-color: none;
  background: none;
  float: right;
  text-align: right;
}

/* line 28, ../scss/_1030up.scss */
.nav li {
  padding: 1em 1em;
  display: inline;
  width: auto;
  background-color: none;
  border: none;
  border: 0;
  margin-top: 0px !important;
}
/* line 31, ../scss/_1030up.scss */
.nav li a {
  display: inline;
  text-decoration: none;
  font-weight: 300;
  text-align: right;
  font-size: 1.1em;
  color: #343e4b;
  background-color: none;
}
/* line 35, ../scss/_1030up.scss */
.nav li a:hover, .nav li a:focus {
  text-decoration: underline;
  color: #5d6f88;
}

/* line 45, ../scss/_1030up.scss */
.in-wrap {
  margin: 0 auto;
  width: 93%;
}

/* line 49, ../scss/_1030up.scss */
.archive-title {
  margin-left: 0;
}

/* line 50, ../scss/_1030up.scss */
.blog-special {
  margin-left: 20%;
}

/* line 51, ../scss/_1030up.scss */
.single-title {
  margin-left: 20%;
  width: 70%;
}

/* line 54, ../scss/_1030up.scss */
.single-header p.byline {
  margin-left: 20%;
}

/* line 61, ../scss/_1030up.scss */
.entry-content .post-text {
  width: 68%;
  max-width: 550px;
  margin-left: 20%;
}

/* line 70, ../scss/_1030up.scss */
#content {
  margin-top: 2.8em;
  width: 100%;
  clear: both;
  float: left;
}
/* line 73, ../scss/_1030up.scss */
#content .introbg {
  background-color: inherit;
}
/* line 74, ../scss/_1030up.scss */
#content .mywork {
  float: left;
  clear: none;
  width: 31%;
  margin: 0 2% 2em 0;
}
/* line 79, ../scss/_1030up.scss */
#content .mybio p {
  max-width: 20em;
  margin: 0 auto;
  margin-top: 0.6em;
  margin-bottom: 0.4em;
}
/* line 82, ../scss/_1030up.scss */
#content .blog-article {
  border-bottom: 1px solid #c4c4c4;
  margin-bottom: 2em;
}
/* line 83, ../scss/_1030up.scss */
#content .cat-article {
  width: 60%;
  margin-left: 20%;
}

/* line 87, ../scss/_1030up.scss */
.footer-nav {
  display: none;
}

/* 
you can call the larger styles if you want, but there's really no need 
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
